* {
  box-sizing: border-box;
}

body {

	margin-top: 3.5%;
	margin-bottom: 3%;
	

	}


.contact100-form-title-2 {
  font-family: Poppins-Regular;
  color: #fff;
  text-align: center;
}

.contact100-form-title-1 {
  font-family: Poppins-Bold;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px;
}

.panel-primary > .panel-heading {
background-color:#2a6496;
}

.fa-2x {
 color: #337ab7;
}